@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  font-family: "poppin", sans-serif;
  scroll-behavior: smooth;
}
/* .havig {
  font-family: "Hedvig Letters Sans", sans-serif;
} */
.header {
  font-family: "Archivo Black", sans-serif;
}
.bgImg {
  background-image: url("./assets/nav.jpg");
}
.heroBg {
  background-image: url("./assets/heroBg.jpg");
}
.sectionBg {
  background-image: url("./assets/section.jpg");
}
.beeBg {
  background-image: url("./assets/beeBg.png");
}
.circuitBg {
  background-image: url("./assets/circuitbg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.active {
  border-bottom: 3px solid #09be8c;
}
.slideP {
  padding: 100px;
}
.rightCircuit {
  background-image: url("./assets/right.png");
  background-size: 250px 250px;
  background-position: right top;
  background-repeat: no-repeat;
}

/* scroll  */
body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: var(--purple);
  --accent: var(--white);

  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--accent);
}
section {
  scroll-margin-top: 80px;
}

.button {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #09be8c;
  transition: all 300ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #09be8c;
}

.button:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #09be8c;
  box-shadow: 4px 5px 17px -4px #09be8c;
}

.button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #09be8c;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 700ms;
}

.button:hover::before {
  width: 250%;
}

.button-sm {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #09be8c;
  transition: all 300ms;
  font-size: 13px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #09be8c;
}

button-sm:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #09be8c;
  box-shadow: 4px 5px 17px -4px #09be8c;
}

button-sm::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #09be8c;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 700ms;
}

button-sm:hover::before {
  width: 250%;
}

.button-wh {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #00feb5;
  transition: all 200ms;
  font-size: 13px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #00feb5;
}

button-wh:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #09be8c;
  box-shadow: 4px 5px 17px -4px #09be8c;
}

button-wh::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #09be8c;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 700ms;
}

button-wh:hover::before {
  width: 250%;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #00feb5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #09be8c;
}

::-webkit-scrollbar-track {
  background-color: #151e2f;
  margin-top: 10px;
  margin-bottom: 10px;
}
